<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head />
<h:body>
	
	<ui:composition template="/WEB-INF/templates/template.xhtml">
		<ui:define name="body">
			<ui:include src="/WEB-INF/components/body_index.xhtml"></ui:include>
		</ui:define>
	</ui:composition>
</h:body>
</html>