.user-table {
	table-layout: fixed;
	width:100%;
	align-self: center;
	border:2px solid;
	border-collapse: collapse;
}

th {
	border:2px solid;
	border-collapse: collapse;
	height:50px;
	border-bottom: 3px solid;
	text-align:center;
	font-weight: bold;
	word-wrap: break-word;
	font-size: 16px;
	color: white;
}

td {
	border:1px solid;
	border-collapse: collapse;
	word-wrap: break-word;
	height: 40px;
	text-align:center;
	font-weight: bold;
	color: white;
}

body {
	background-image: url('../resources/images/background.png');
	background-repeat:no-repeat;
    background-size:cover;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 150px;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
    color: #000000;
    background-color: #1f7ed0;
    border-color: #ccc;
    font-weight: bold;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}