html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-image: url('../resources/images/background.png');
	background-repeat:no-repeat;
    background-size:cover;
}

.login {
	position: absolute;
	top: 50%;
	left: 45%;
	margin: -150px 0 0 -150px;
	width: 400px;
	height: 300px;
}

input {
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

input:focus {
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px
		rgba(255, 255, 255, 0.2);
}