<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head />
<h:body>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
	<link href="#{request.contextPath}/resources/css/index.css" rel="stylesheet" type="text/css"></link>
	<ui:composition template="/WEB-INF/templates/template.xhtml">
		<ui:define name="header">
			<ui:include src="/WEB-INF/components/header.xhtml"></ui:include>
		</ui:define>
		<ui:define name="body">
			<ui:include src="/WEB-INF/components/body_index.xhtml"></ui:include>
		</ui:define>
	</ui:composition>
</h:body>
</html>