<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Admin - Login</title>
</h:head>
<h:body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<h:outputStylesheet library="css" name="login.css" />
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:form styleClass="login">
		<p:autoUpdate />
		<h2>Danger Warning System - Admin</h2>
		<p:inputText value="#{adminBean.username}" required="true" placeholder="Username" styleClass="form-control" />
		<p:password value="#{adminBean.password}" required="true" placeholder="Password" styleClass="form-control" />
		<h:panelGroup rendered="#{!adminBean.wrong}" />
		<p:staticMessage severity="error" summary="Error" detail="Wrong credentials" rendered="#{adminBean.wrong}" />
		<p:commandButton style="margin-top:10vh;" value="Log in" action="#{adminBean.submit}" styleClass="btn btn-primary btn-block btn-large" type="submit" />
	</h:form>
</h:body>
</html>
