body {
	background-image: url('../images/background.png');
	background-repeat:no-repeat;
    background-size:cover;
}



#personal-settings {
	position: absolute;
	margin-top: 10vh;
	margin-left: 10vw;
	margin-right: 5%;
	width: 35vw;
}

img {
	max-width:100%;
	max-height:100%;
}

#other-info {
	position: absolute;
	width:35vw;
	margin-top: 10vh;
	margin-left: 60vw;
	margin-right: 10vw;
}

#submit-button {
	position: absolute;
	margin-right: 20%;
	margin-top: 12vh;
	width: 150px;
}