body {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.topnav-right {
	float: right;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

#main-page {
	height: 95vh;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav {
	background-color: #333;
	overflow: hidden;
	height: 6vh;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#avatar {
	margin-top: 5vh;
	margin-left: 4vw;
	max-width: 12vw;
	max-height: 12vh;
}

#image-div {
	height: 12vh;
	width: 12vw;
}

@media only screen and (max-width: 600px) {
	#left {
		width: 100%;
		height: 93vh;
	}
	#middle, #right {
		width: 100%;
	}
	
	#right {
		margin-bottom: 2vh;
	}
	#middle::-webkit-scrollbar {
		display: none;
	}
	#middle {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	#main-page {
		height: 100%;
		overflow-y: hidden;
		position: relative;
	}
	.city-weather {
		margin-top: 5vh;
		margin-left: 25%;
		width: 50%;
		height: 20vh;
		background-color: rgb(86, 193, 230);
	}
}

@media only screen and (min-width: 600px) {
	#left {
		left: 0;
		width: 20%;
		height: 94vh;
		position: fixed;
	}
	#middle {
		width: 60%;
		left: 20vw;
		position: absolute;
		overflow-y: scroll;
		height: 94vh;
	}
	#right {
		width: 20%;
		height: 94vh;
		position: fixed;
		right: 0;
	}
	#middle::-webkit-scrollbar {
		display: none;
	}
	#middle {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	#main-page {
		height: 94vh;
		overflow-y: hidden;
		position: relative;
	}
	.city-weather {
		margin-top: 5vh;
		margin-left: 5vw;
		width: 10vw;
		background-color: rgb(86, 193, 230);
	}
}

#user-name {
	margin-left: 2vw;
	margin-top: 7vh;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 80%;
	background-color: rgb(86, 193, 230);
}

#login-count {
	margin-left: 2vw;
	margin-top: 1vh;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 80%;
	background-color: rgb(86, 193, 230);
}

#new-post {
	background-color: rgb(199, 199, 188);
	margin-top: 5vh;
	border: 2px solid;
}

#posts {
	margin-top: 5vh;
}

.post {
	margin-top: 2vh;
	border: 1px solid;
	background-color: rgb(86, 193, 230);
}

#notifications {
	margin-top: 1vh;
	margin-left: 2vw;
	overflow: auto;
	display: inline-block;
	max-height: 50vh;
	width: 80%;
}

.notification {
	border: 1px solid;
	background-color: gray;
	margin-top: 1vh;
	background-color: rgb(86, 193, 230);
	cursor: pointer;
}

notification:hover {
	cursor: pointer;
}

.weather-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.weather-text {
	text-align: center;
	padding-top: 1vh;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

#notification-label {
	margin-top: 5vh;
	margin-left: 2vw;
	padding-bottom: 1vh;
	font-size: 14px;
	font-weight: bold;
}

.post-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.post-content {
	text-align: justify;
	text-justify: inter-word;
	text-indent: 2vw;
	font-size: 18px;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
}

.pub-date {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-right: 0.5vw;
}

.post-link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	padding-right: 0.5vw;
}

.notification-text {
	text-align: justify;
	text-justify: inter-word;
	padding-left: 1vw;
	padding-right: 1vw;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 50vw;
	height: 100%;
	overflow: auto;
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	max-width: 50vw;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#description-modal {
	resize: none;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#map-modal {
	width: 30vw;
	height: 30vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#add-post-button {
	margin-left: 80%;
	width: 10vw;
	margin-bottom: 2vh;
}

#chooser-div {
	margin-top: 1vh;
	margin-left: 5%;
}

#post-text {
	width: 100%;
	height: 15vh
}

#attachments-div {
	margin-left: 1vw;
	width: 100%;
}

.new-post-yt {
	width: 20vw;
	height: 20vh;
}

.img-attachment {
	max-width: 10vw;
	max-height: auto;
}

.user-post-image-div {
	margin-left: 30%;
	width: 40%;
}

.user-post-image {
	width: auto;
	height: auto;
}

.new-post-video {
	max-width: 20vw;
	max-height: 20vh;
}

.post-header {
	width: 100%;
	margin-top: 1vh;
	margin-left: 1vw;
}

hr {
	margin-top: 1vh;
}

.post-avatar-div {
	float: left;
	height: 5vh;
	width: 5vw;
}

.post-avatar {
	max-height: 5vh;
	max-width: 5vw;
}

.name-label {
	float: center;
	margin-left: 1vw;
	font-weight: bold;
	font-size: 18px;
}

.youtube-post {
	margin-left: 25%;
	height: 30vh;
	width: 30vw;
}

.video-post {
	width: 40%;
	margin-left: 30%;
}

.post-datetime-link {
	color: black;
	margin-right: 2vw;
}

.add-comment-button {
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.share-link-label {
	margin-right: 1vw;
}

.comment-user-avatar {
	max-width: 3vw;
	height: auto;
	margin-left: 1%;
	margin-top: 1%;
}

.comment-name-label {
	margin-left: 1vw;
	font-weight: bold;
}

.comment-text {
	text-align: justify;
	text-justify: inter-word;
	text-indent: 2vw;
	border: 1px medium;
}

.commented-at-label {
	margin-right: 1vw;
}

.comment-section-div {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1vh;
	max-height: 60vh;
	overflow: auto;
}

.add-comment-button {
	margin-right: 1vw;
	margin-bottom: 1vh;
}

.form-control {
	margin-top: 1vh;
	width: 90%;
	margin-bottom: 1vh;
}

.add-comment-avatar {
	max-width: 2vw;
	height: auto;
}

.add-comment-label {
	margin-left: 1%;
	font-weight: bold;
}

.comment-img {
	max-width: 10vw;
	height: auto;
}

#post-part {
	width: 60vw;
	margin-left: 20vw;
	height: 60vh;
}

.single-post-avatar-div {
	float: left;
	height: 10vh;
	width: 10vw;
}

.single-post-name-label {
	margin-left: 2vw;
	font-weight: bold;
	font-size: 24px;
	font-weight: bold;
}

.single-post-avatar {
	max-height: 10vh;
	max-width: 10vw;
}

.single-post-content {
	font-size: 20px;
	margin-top: 10vh;
	text-indent: 5vw;
}

.single-post-header {
	margin-top: 3vh;
	margin-left: 1vw;
}

.single-user-post-image-div {
	width: 25%;
	margin-left: 35%;
}

.single-user-post-image {
	width: auto;
	height: auto;
}

.single-post {
	margin-top: 2vh;
	border: 1px solid;
	background-color: rgb(86, 193, 230);
}