html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    background-image: url('../images/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
}
.login {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -150px 0 0 -150px;
  width: 30vw;
  height: 30vh;
}
input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}
#login_info {
	color:red;
}
