body {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	display: block;
	float: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 30%;
	left: 40%;
	margin: -130px 0 0 -120px;
}

textarea {
	width: 30vw;
}

#is-urgent-label {
	font-size: 14;
	font-weight: bold;
}

#submit-button {
	width: 30vw;
	margin-top: 5vh;
}

#map {
	width: 30vw;
	height: 30vh;
}