@charset "UTF-8";

#signup-form {
	margin-left: 50px;
	margin-top: 50px;
	width: 40vw;
}

body {
	background-image: url('../images/background.png');
	background-repeat:no-repeat;
    background-size:cover;
	height: 90vh;
	width: 90vw;
}

label {
	font-weight: bold;
}

#message {
	margin-top: 50px;
	margin-left: 50px;
}

h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.container-fluid {
	width: 50vw;
	height: 80vh;
	position: absolute;
	top: 15%;
	left: 35%;
	margin: -150px 0 0 -150px;
}