<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head />
<ui:composition>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<h:outputStylesheet library="css" name="index.css" />
	<h:outputScript library="primefaces" name="jquery/jquery.js" />

	<h:form id="form">
	 	<p:autoUpdate />
	 	<h3 style="text-align: center;">Add a new call for help</h3>
	 	<br /> <br />
		<h:outputLabel value="Title: " for="title"></h:outputLabel>
		<br />
		<h:inputText id="title" value="#{callForHelpBean.title}" styleClass="form-control" required="true" />
		<h:outputLabel value="Location: " for="location" />
		<h:inputText id="location" styleClass="form-control" required="true" value="#{callForHelpBean.location}"/>
		<h:outputLabel value="Date and time:" for="datetime" />
		<br />
        <p:calendar id="datetime" pattern="dd.MM.yyyy HH:mm" value="#{callForHelpBean.dateTime}" required="true">
        	<f:validator validatorId="danger.warning.system.validators.DateValidator" />
        </p:calendar>
        <h:outputLabel value="Description: " for="description" />
		<br />
		<h:inputTextarea id="description" value="#{callForHelpBean.description}" styleClass="form-control" required="true" />
		<h:outputLabel value="Image URL: " for="url" />
		<br />
		<h:inputText id="url" value="#{callForHelpBean.imageUri}" styleClass="form-control" required="true">
			<f:validator validatorId="danger.warning.system.validators.URIValidator" />
		</h:inputText>
		<h:outputLabel value="Category: " for="category" />
		<br />
		<h:selectOneMenu id="category" style="width: 100%;" styleClass="form-control" value="#{callForHelpBean.category}" required="true">
			<f:selectItem itemValue="DAMAGE_REPAIRING_ASSISTENACE" itemLabel="Damage Repairing Assistance"/>
            <f:selectItem itemValue="COLLECTING_CLOTHES" itemLabel="Collecting Clothes"/>
            <f:selectItem itemValue="COLLECTING_FOODSTUFFS" itemLabel="Collecting Foodstuffs"/>
            <f:selectItem itemValue="TRANSPORT" itemLabel="Transport"/>
            <f:selectItem itemValue="OTHER" itemLabel="Other"/>
		</h:selectOneMenu>
		<p:commandButton value="Submit" action="#{callForHelpBean.submit}" style="margin-top: 5vh" styleClass="btn btn-primary btn-block btn-large" />
	</h:form>
</ui:composition>
</html>