<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head />
<ui:composition>
	<h:outputText value="Date: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="${session.lastAccessedTime}">
		<f:convertDateTime pattern="dd.MM.yyyy." type="date" />
	</h:outputText>
	<h:outputText value=" Active Users: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="4"></h:outputText>
	<h:outputText value=" Total Users Users: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="20"></h:outputText>
	<hr />
</ui:composition>
</html>