<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head />
<ui:composition>
	<h:form>
		<h:outputStylesheet library="css" name="index.css" />
		<p:tabView style="margin-top:5vh;">
			<p:tab title="User Management">
				<h:dataTable styleClass="user-table" value="${userBean.users}"
					var="iter">
					<h:column>
						<f:facet name="header">Name</f:facet>
						<h:outputText value="${iter.name}">
						</h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Surname</f:facet>
						<h:outputText value="${iter.surname}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Username</f:facet>
						<h:outputText value="${iter.username}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Email</f:facet>
						<h:outputText value="${iter.email}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Status</f:facet>
						<h:outputText value="${iter.status}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Activate/Block</f:facet>
						<h:commandButton value="#{iter.status == 'ACTIVE' ? 'Block' : 'Activate'}" action="#{userBean.changeStatus}" styleClass="btn btn-default">
							<f:param value="${iter.username}" name="username" />
						</h:commandButton>
					</h:column>
					<h:column>
						<f:facet name="header">Reset Password</f:facet>
						<h:commandButton id ="resetPWButton" value="Reset Password" action="#{userBean.resetPassword}" styleClass="btn btn-default">
							<f:param value="${iter.username}" name="username" />
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</p:tab>
			<p:tab title="Post Management">
			<h:dataTable styleClass="user-table" value="${callForHelpBean.calls}"
					var="iter">
					<h:column>
						<f:facet name="header">Title</f:facet>
						<h:outputText value="${iter.title}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Location</f:facet>
						<h:outputText value="${iter.location}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Date and Time</f:facet>
						<h:outputText value="${iter.dateTime}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Description</f:facet>
						<h:outputText value="${iter.description}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Image URL</f:facet>
						<h:outputText value="${iter.imageUri}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Category</f:facet>
						<h:outputText value="${iter.category}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Is Reported</f:facet>
						<h:outputText value="#{iter.isReported}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">Block</f:facet>
						<h:commandButton id ="deleteButton"  value="#{iter.isBlocked == 'YES' ? 'Unblock' : 'Block'}" action="#{callForHelpBean.blockCallForHelp}" styleClass="btn btn-default">
							<f:param value="${iter.id}" name="id" />
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</p:tab>
		</p:tabView>
		<p:barChart model="#{userStatsBean.barModel}" style="width: 83vw; height: 40vh; margin-top: 5vh;" /> 
	</h:form>
</ui:composition>
</html>