<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head />
<ui:composition>
	<h:outputText value="Date: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="${session.lastAccessedTime}">
		<f:convertDateTime pattern="dd.MM.yyyy." type="date" />
	</h:outputText>
	<h:outputText value=" Total Users: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="#{userStatsBean.totalUsers} "></h:outputText>
	<h:outputText value=" Active Users: " style="font-weight: bold;"></h:outputText>
	<h:outputText value="#{userStatsBean.activeUsers}"></h:outputText>
	<p:commandLink value="Logout" action="#{adminBean.logout}" style="float:right; font-weight:bold; color: black; margin-right: 1vw;"></p:commandLink>
	<hr />
</ui:composition>
</html>