body {
	background-image: url('../resources/images/background.png');
	background-repeat:no-repeat;
    background-size:cover;
}

#form {
	position: absolute;
	top: 30%;
	left: 43%;
	margin: -150px 0 0 -150px;
	width: 30vw;
	height: 30vh;
}

.ui-inputfield {
	width:100%;
}

.btn {
	margin-bottom: 20px;
}
